# Ignore the API key file
api_key.txt

# Python-related files to ignore
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
.env
.venv
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3
*.coverage
.coverage
*.pytest_cache/
.cache/
*.mypy_cache/
*.pyre/
*.tox/
*.nox/
*.idea/
*.vscode/
*.ipynb_checkpoints/

# Visual Studio-specific files to ignore
.vs/
*.user
*.suo
*.vcxproj*
*.ncb
*.opensdf
*.sdf
*.ipch
*.tlog/
*.lastbuildstate
*.obj/
*.pch
*.idb
*.pdb
*.log
*.dbmdl
*.dbproj.user
*.sql
*.cache
*.psess
*.vspx
*.vsp
*.vsmdi
*.testsettings
*.vsix
*.swp
*.bak
*.tmp
*.tmp_proj
*.csproj.user
*.rsuser
*.rsproj.user
*.sln.docstates.json